
* {box-sizing:border-box}
body{
  background-color: rgb(214, 239, 255);
  width:100%;
  margin: 0% 0%;
  padding: 0%;
}
nav{
    background-color: white;
}
nav img{
    float: left;
    width: 150px;
    padding-left: 50px;
    position: relative;
}
nav p{
    float: left;
    font-size: small;
    vertical-align:middle;
    line-height: 15px;
    padding-top: 25px;
    padding-left: 30px;
    text-align: center;
}
nav ul{
    margin-left: 250px;
    display: inline-block;
    margin-right: 50px;
}

nav li{
    font-size: 20px;
    list-style-type: none;
    float: left;
    line-height: 70px;
    padding-right: 45px;
    vertical-align: middle;
    box-sizing: border-box;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: red;
    text-align: center;
}
nav li:hover{
border-bottom: 3px solid red;
}
/* here begins slides css */
.slideshow {
  position: relative;
  margin: 0 0;
}
.Slides img{
  width:100%;
}

.img1{
  display: inline;
}
.img2, .img3{
  display:none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
  background-color: #00000063;
}

.next {
  right: 0;
  border-radius: 5px 0 0 5px;
}

.prev{
  left: 0;
  border-radius: 0 5px 5px 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.607);
}

.info_1 {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -10%);
  text-align: center;
  vertical-align: middle;
  width: 50%;
}
.info_2, .info_3{
  color: #ffffff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 50%;
  text-align: center;
  vertical-align: middle;
}

.Slides p {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 3px;
  background-color: rgb(182, 69, 69);
  border-radius: 25%;
  display: inline-block;
  transition: background-color 0.5s ease-in-out;
}

.active, .dot:hover {
  background-color: #717171;
}


.slide_fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*the About page*/
.sidebar img, .sidebar p{
  margin: 0;
  margin-top: -110px;
  padding: 0;
  width: 500px;
  position: fixed;
  z-index: 1;
  height: 100%;
  overflow: auto;
}
.sidebar p{
  display: block;
  padding-top: 150px;
  text-align: center;
  color: white;
  background-color: #0000006e;
}
@media screen and (max-width: 700px) {
  .sidebar {
    height: 100%;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

div.content {
  margin-left: 500px;
  padding: 1px 16px;
  height: 1000px;
}
