header{
    overflow: hidden;
    background-color: brown;
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
}
    
header img {
    padding: 0px;
    margin: 0px;
    width: 100px;
    height: 100px;
}
header li{
    list-style-type: none;
    float: left;
    color: rgb(209, 95, 95);
    text-align: center;
    padding: 20;
    margin: 10px;
    font-size: 20px;
    line-height: 20px;
    border-radius: 5px;
}
header li:hover{
    color: #fff;
    background-color: rgb(123, 31, 31);
}
header ul{
    float: right;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

